<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- =======================servlet======================== -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegDepServlet</servlet-name>
		<servlet-class>servlet.RegDepServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDepServlet</servlet-name>
		<servlet-class>servlet.GetDepServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>UpdateEmpStatusServlet</servlet-name>
    <servlet-class>servlet.UpdateEmpStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <servlet-class>servlet.ApproveAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectDepByIdServlet</servlet-name>
    <servlet-class>servlet.SelectDepByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepartmentsServlet</servlet-name>
    <servlet-class>servlet.DepartmentsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateDepServlet</servlet-name>
    <servlet-class>servlet.UpdateDepServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDepServlet</servlet-name>
    <servlet-class>servlet.AddDepServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDepSerlvet</servlet-name>
    <servlet-class>servlet.DeleteDepSerlvet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <servlet-class>servlet.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <servlet-class>servlet.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectAllMeetingRoomServlet</servlet-name>
    <servlet-class>servlet.SelectAllMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMeetingRoomServlet</servlet-name>
    <servlet-class>servlet.UpdateMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MeetingRoomDetails</servlet-name>
    <servlet-class>servlet.MeetingRoomDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookMeetingServlet</servlet-name>
    <servlet-class>servlet.BookMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChooseMeetingRoomsServlet</servlet-name>
    <servlet-class>servlet.ChooseMeetingRoomsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectEmployeesOfDeptServlet</servlet-name>
    <servlet-class>servlet.SelectEmployeesOfDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchMeetingServlet</servlet-name>
    <servlet-class>servlet.SearchMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MeetingDetailsServlet</servlet-name>
    <servlet-class>servlet.MeetingDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotificationsServlet</servlet-name>
    <servlet-class>servlet.NotificationsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyBookingServlet</servlet-name>
    <servlet-class>servlet.MyBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyMeetingServlet</servlet-name>
    <servlet-class>servlet.MyMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <servlet-class>servlet.CancelMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DoCancelMeetingServlet</servlet-name>
    <servlet-class>servlet.DoCancelMeetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangPassWordServlet</servlet-name>
    <servlet-class>servlet.ChangPassWordServlet</servlet-class>
  </servlet>


















	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegDepServlet</servlet-name>
		<url-pattern>/RegDepServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDepServlet</servlet-name>
		<url-pattern>/GetDepServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmpStatusServlet</servlet-name>
    <url-pattern>/UpdateEmpStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <url-pattern>/ApproveAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectDepByIdServlet</servlet-name>
    <url-pattern>/SelectDepByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentsServlet</servlet-name>
    <url-pattern>/DepartmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDepServlet</servlet-name>
    <url-pattern>/UpdateDepServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDepServlet</servlet-name>
    <url-pattern>/AddDepServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDepSerlvet</servlet-name>
    <url-pattern>/DeleteDepSerlvet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchEmployeeServlet</servlet-name>
    <url-pattern>/SearchEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <url-pattern>/AddMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectAllMeetingRoomServlet</servlet-name>
    <url-pattern>/SelectAllMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMeetingRoomServlet</servlet-name>
    <url-pattern>/UpdateMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MeetingRoomDetails</servlet-name>
    <url-pattern>/MeetingRoomDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookMeetingServlet</servlet-name>
    <url-pattern>/BookMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChooseMeetingRoomsServlet</servlet-name>
    <url-pattern>/ChooseMeetingRoomsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectEmployeesOfDeptServlet</servlet-name>
    <url-pattern>/SelectEmployeesOfDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMeetingServlet</servlet-name>
    <url-pattern>/SearchMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MeetingDetailsServlet</servlet-name>
    <url-pattern>/MeetingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotificationsServlet</servlet-name>
    <url-pattern>/NotificationsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyBookingServlet</servlet-name>
    <url-pattern>/MyBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyMeetingServlet</servlet-name>
    <url-pattern>/MyMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelMeetingServlet</servlet-name>
    <url-pattern>/CancelMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoCancelMeetingServlet</servlet-name>
    <url-pattern>/DoCancelMeetingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangPassWordServlet</servlet-name>
    <url-pattern>/ChangPassWordServlet</url-pattern>
  </servlet-mapping>

	<!-- =======================设置监听======================== -->
	<listener>
		<listener-class>listener.VisitCountListener</listener-class>
	</listener>

	<!-- ==================设置session过期时间=================== -->
	<session-config> <session-timeout>30</session-timeout> </session-config>
	<!-- ===================设置Cookie过滤器===================== -->

	<!-- ===================设置字符编码过滤器===================== -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- ====================设置登录过滤器======================= -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- ====================================================== -->

	<welcome-file-list>
		<welcome-file>login/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
